**Series**

In [2]:
import numpy as np
import pandas as pd

In [3]:
labels=['a','b','c']
list=[10,20,30]
arr=np.array([10,20,30])
d={'a':10,'b':20,'c':30}

In [4]:
pd.Series(data=list)

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(data=list,index=labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [7]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [8]:
ser1=pd.Series((1,2,3,4),index=['USA','Japan','America','Germany'])

In [9]:
ser2=pd.Series((9,8,7,6),index=['Oslo','Japan','America','Paris'])

In [10]:
ser1+ser2

America    10.0
Germany     NaN
Japan      10.0
Oslo        NaN
Paris       NaN
USA         NaN
dtype: float64

**Data Frames**

In [11]:
import numpy as np
import pandas as pd

In [12]:
from numpy.random import randn
np.random.seed(101)

In [13]:
df=pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [14]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [15]:
df['X']

A    0.628133
B   -0.319318
C    0.740122
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [16]:
df[['Y','Z']]

          Y         Z
A  0.907969  0.503826
B -0.848077  0.605965
C  0.528813 -0.589001
D -0.933237  0.955057
E  2.605967  0.683509

In [17]:
 df['new']=df['W']+df['Y']

In [18]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [19]:
df.drop('new',axis=1,inplace=True)
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [20]:
df.drop('B')

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [21]:
df.loc['C']

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [22]:
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [23]:
df.loc['C','Y']

0.5288134940893595

In [24]:
df.loc[['A','C'],['W','Y']]

          W         Y
A  2.706850  0.907969
C -2.018168  0.528813

**Conditional Selection**

In [25]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [26]:
df[df['W']>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [27]:
df[df['W']>0]['Y']

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

In [28]:
df[(df['W']>0) &  (df['Y']>0)]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
E  0.190794  1.978757  2.605967  0.683509

In [29]:
df[(df['W']>0) | (df['Y']>0)]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

**Missing Data**

In [30]:
import numpy as np
import pandas as pd

In [31]:
df = pd.DataFrame({'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]})
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [32]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [33]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [34]:
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [35]:
df.fillna(value='FILL VALUE')

            A           B  C
0         1.0         5.0  1
1         2.0  FILL VALUE  2
2  FILL VALUE  FILL VALUE  3

In [36]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

OPERATIONS IN PANDA

In [37]:
df=pd.DataFrame({'col1':[1,2,3,4,5],'col2':[222,333,333,444,55],'col3':['abc','efg','xcr','ert','sdg']})

In [38]:
df.head()

   col1  col2 col3
0     1   222  abc
1     2   333  efg
2     3   333  xcr
3     4   444  ert
4     5    55  sdg

In [39]:
df['col2'].unique()

array([222, 333, 444,  55])

In [40]:
df['col1'].nunique()

5

In [41]:
df['col2'].nunique()

4

In [42]:
df['col2'].value_counts()

333    2
222    1
444    1
55     1
Name: col2, dtype: int64

SELECTING THE DATA


1.   List item
2.   List item

In [43]:
newdf=df[(df['col1']>=2)&(df['col2']==333)]
newdf

   col1  col2 col3
1     2   333  efg
2     3   333  xcr

APPPLYING FUNCTIONS

In [44]:
def times2(x):
  return x*2;

In [45]:
df['col1'].apply(times2)

0     2
1     4
2     6
3     8
4    10
Name: col1, dtype: int64

In [46]:
df['col1'].sum()

15

In [47]:
del df['col2']

In [48]:
df

   col1 col3
0     1  abc
1     2  efg
2     3  xcr
3     4  ert
4     5  sdg

In [49]:
df.columns

Index(['col1', 'col3'], dtype='object')

In [50]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [51]:
df.sort_values(by='col1',inplace=True)
df

   col1 col3
0     1  abc
1     2  efg
2     3  xcr
3     4  ert
4     5  sdg

In [52]:
df.isnull()

    col1   col3
0  False  False
1  False  False
2  False  False
3  False  False
4  False  False