Implement a program to scrap the web page of any popular website

In [2]:
from bs4 import BeautifulSoup
import csv
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
webpage=requests.get("https://www.flipkart.com/computers/laptops/~acer-gaming-laptops/pr?sid=6bo,b5g&wid=3.productCard.PMU_V2_2")

In [6]:
webpage

In [7]:
soup=BeautifulSoup(webpage.content,"html.parser")

In [ ]:
print(soup.prettify())

In [10]:
names=soup.find_all("div",class_="_4rR01T")

In [ ]:
names

In [13]:
len(names)

17

In [16]:
laptop_names=[]
for i in range(0,len(names)):
  laptop_names.append(names[i].get_text())

In [19]:
laptop_names

['acer Aspire 7 Core i5 10th Gen - (8 GB/512 GB SSD/Windows 10 Home/4 GB Graphics/NVIDIA GeForce GTX 165...',
 'acer Aspire 7 Ryzen 5 Hexa Core 5500U - (8 GB/512 GB SSD/Windows 10 Home/4 GB Graphics/NVIDIA GeForce ...',
 'acer Nitro 5 Ryzen 5 Hexa Core 4600H - (8 GB/1 TB HDD/256 GB SSD/Windows 10 Home/4 GB Graphics/NVIDIA ...',
 'acer NITRO 5 Ryzen 5 Hexa Core 5600H - (8 GB/1 TB HDD/256 GB SSD/Windows 10 Home/4 GB Graphics/NVIDIA ...',
 'acer Nitro Ryzen 5 Hexa Core 5600H - (8 GB/1 TB HDD/256 GB SSD/Windows 10 Home/4 GB Graphics/NVIDIA Ge...',
 'acer Predator Helios 300 Core i7 11th Gen - (16 GB/1 TB HDD/512 GB SSD/Windows 10 Home/6 GB Graphics/N...',
 'acer Predator Helios 300 Octa Core i7 10th Gen - (16 GB/1 TB HDD/256 GB SSD/Windows 10 Home/6 GB Graph...',
 'acer Nitro 5 Ryzen 7 Octa Core 5800H - (16 GB/1 TB HDD/256 GB SSD/Windows 10 Home/4 GB Graphics/NVIDIA...',
 'acer Predator Helios 300 Core i7 10th Gen - (16 GB/1 TB SSD/Windows 10 Home/6 GB Graphics/NVIDIA GeFor...',
 'acer Predator Helios 300 Core i7 11th Gen - (16 GB/1 TB HDD/512 GB SSD/Windows 10 Home/4 GB Graphics/N...',
 'acer Predator Helios 300 Core i7 11th Gen - (16 GB/1 TB SSD/Windows 10 Home/6 GB Graphics/NVIDIA GeFor...',
 'acer Nitro 5 Ryzen 7 Octa Core 5800H - (16 GB/1 TB HDD/256 GB SSD/Windows 10 Home/6 GB Graphics/NVIDIA...',
 'acer Predator Triton 300 Core i7 10th Gen - (16 GB/2 TB SSD/Windows 10 Home/8 GB Graphics/NVIDIA GeFor...',
 'acer Nitro 5 Ryzen 5 Hexa Core 5600H - (16 GB/1 TB HDD/256 GB SSD/Windows 10 Home/6 GB Graphics/NVIDIA...',
 'acer Predator Helios 300 Core i5 7th Gen - (8 GB/1 TB HDD/128 GB SSD/Windows 10 Home/4 GB Graphics/NVI...',
 'acer Core i7 6th Gen - (16 GB/1 TB HDD/128 GB SSD/Windows 10 Home/4 GB Graphics/NVIDIA GeForce GTX 980...',
 'acer Predator Helios 300 Core i9 11th Gen - (32 GB/1 TB SSD/Windows 11 Home/8 GB Graphics/NVIDIA GeFor...']

In [23]:
price=soup.find_all("div",class_="_30jeq3 _1_WHN1")

In [ ]:
price

In [26]:
len(price)

17

In [31]:
price_list=[]
for i in range(0,len(price)):
  price_list.append(price[i].get_text())

In [33]:
price_list

['₹52,990',
 '₹54,990',
 '₹60,990',
 '₹65,990',
 '₹72,990',
 '₹1,19,990',
 '₹1,09,990',
 '₹86,990',
 '₹1,16,990',
 '₹1,05,990',
 '₹1,29,990',
 '₹1,00,990',
 '₹1,59,990',
 '₹94,850',
 '₹1,29,999',
 '₹1,16,640',
 '₹1,79,990']

In [35]:
import pandas as pd

In [36]:
df=pd.DataFrame()

In [38]:
df['laptop_names']=laptop_names

In [39]:
df['price_list']=price_list

In [41]:
df

                                         laptop_names price_list
0   acer Aspire 7 Core i5 10th Gen - (8 GB/512 GB ...    ₹52,990
1   acer Aspire 7 Ryzen 5 Hexa Core 5500U - (8 GB/...    ₹54,990
2   acer Nitro 5 Ryzen 5 Hexa Core 4600H - (8 GB/1...    ₹60,990
3   acer NITRO 5 Ryzen 5 Hexa Core 5600H - (8 GB/1...    ₹65,990
4   acer Nitro Ryzen 5 Hexa Core 5600H - (8 GB/1 T...    ₹72,990
5   acer Predator Helios 300 Core i7 11th Gen - (1...  ₹1,19,990
6   acer Predator Helios 300 Octa Core i7 10th Gen...  ₹1,09,990
7   acer Nitro 5 Ryzen 7 Octa Core 5800H - (16 GB/...    ₹86,990
8   acer Predator Helios 300 Core i7 10th Gen - (1...  ₹1,16,990
9   acer Predator Helios 300 Core i7 11th Gen - (1...  ₹1,05,990
10  acer Predator Helios 300 Core i7 11th Gen - (1...  ₹1,29,990
11  acer Nitro 5 Ryzen 7 Octa Core 5800H - (16 GB/...  ₹1,00,990
12  acer Predator Triton 300 Core i7 10th Gen - (1...  ₹1,59,990
13  acer Nitro 5 Ryzen 5 Hexa Core 5600H - (16 GB/...    ₹94,850
14  acer Predator Helios 300 Core i5 7th Gen - (8 ...  ₹1,29,999
15  acer Core i7 6th Gen - (16 GB/1 TB HDD/128 GB ...  ₹1,16,640
16  acer Predator Helios 300 Core i9 11th Gen - (3...  ₹1,79,990

In [44]:
df.to_csv('laptops.csv',index=False)

In [47]:
pd.read_csv('laptops.csv')

                                         laptop_names price_list
0   acer Aspire 7 Core i5 10th Gen - (8 GB/512 GB ...    ₹52,990
1   acer Aspire 7 Ryzen 5 Hexa Core 5500U - (8 GB/...    ₹54,990
2   acer Nitro 5 Ryzen 5 Hexa Core 4600H - (8 GB/1...    ₹60,990
3   acer NITRO 5 Ryzen 5 Hexa Core 5600H - (8 GB/1...    ₹65,990
4   acer Nitro Ryzen 5 Hexa Core 5600H - (8 GB/1 T...    ₹72,990
5   acer Predator Helios 300 Core i7 11th Gen - (1...  ₹1,19,990
6   acer Predator Helios 300 Octa Core i7 10th Gen...  ₹1,09,990
7   acer Nitro 5 Ryzen 7 Octa Core 5800H - (16 GB/...    ₹86,990
8   acer Predator Helios 300 Core i7 10th Gen - (1...  ₹1,16,990
9   acer Predator Helios 300 Core i7 11th Gen - (1...  ₹1,05,990
10  acer Predator Helios 300 Core i7 11th Gen - (1...  ₹1,29,990
11  acer Nitro 5 Ryzen 7 Octa Core 5800H - (16 GB/...  ₹1,00,990
12  acer Predator Triton 300 Core i7 10th Gen - (1...  ₹1,59,990
13  acer Nitro 5 Ryzen 5 Hexa Core 5600H - (16 GB/...    ₹94,850
14  acer Predator Helios 300 Core i5 7th Gen - (8 ...  ₹1,29,999
15  acer Core i7 6th Gen - (16 GB/1 TB HDD/128 GB ...  ₹1,16,640
16  acer Predator Helios 300 Core i9 11th Gen - (3...  ₹1,79,990